.animation {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;   
    margin: -60px 0px 0 -200px;
    transition: transform 1s

}
.animation:hover {
    animation:fadeOutRight 2s;
    animation-delay: 0.5s;
}
@keyframes fadeOutRight{
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate3d(2000px,0,0);
    }
}



font-size: 60px;
    position: relative;
    margin: 20%;
    transition: transform 2s






















/*.animation {
    border-style: solid;
    border-width: 1px;
    display: block;
    top: 50%;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.animation:hover {
    background-color: #FFCCCC;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}